#build
#Build
Build.bat
*/external/Catch
Makefile
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
local-lib
package/osx/Slic3r*.app
*.dmg
*.swp
*.swo
CMakeFiles
*.orig
*.a
core
CMakeCache.txt
*.cmake
*.exe
src/test/test_options.hpp
src/slic3r
#build/*
build/tests/svgfiles/*
build/tests/SLAPrint.hpp
*.svg
*.txt

slic3r
gui_test
slic3r_test
backups
old_config
compile_commands.json
tags

# GTAGS
.DS_Store
.*.el
GPATH
GRTAGS
GTAGS
